body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: wheat;
}

h1 {
    font-size: 3rem;
    padding: 2rem 0;
    color: darksalmon;
}

p {
    padding-left: 2rem;
}

nav {
    background-color: darkred;
    padding: 2rem;
}

nav li {
    
    display: inline;
    padding-right: 2rem;
}

nav a {
    color: rgb(245, 186, 178);
}

.main-content {
    padding-left: 3rem;
}

/*might want to just make it universal ul li*/
.portfolio ul { 
    padding-left: 3rem;
    list-style: square;
}

.portfolio li {
   padding-bottom: 1rem;
}

